asgiref==3.6.0
async-timeout==4.0.2
attrs==22.2.0
autobahn==23.1.2
automat==22.10.0
brotli==1.0.9
certifi==2023.5.7
cffi==1.15.1
channels-redis==4.0.0
channels==4.0.0
charset-normalizer==3.1.0
constantly==15.1.0
cryptography==39.0.2
daphne==4.0.0
deprecated==1.2.14
dj-database-url==1.2.0
django-cors-headers==3.14.0
django==4.1.7
djangorestframework-simplejwt==5.2.2
djangorestframework==3.14.0
drf-spectacular==0.26.0
future==0.18.3
gax-google-logging-v2==0.8.3
gax-google-pubsub-v1==0.8.3
gcloud==0.18.3
google-gax==0.12.5
googleapis-common-protos==1.59.1
grpc-google-logging-v2==0.8.1
grpc-google-pubsub-v1==0.8.1
grpcio==1.54.2
httplib2==0.22.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
inflection==0.5.1
jsonschema==4.17.3
jwcrypto==1.5.0
msgpack==1.0.4
oauth2client==4.1.3
pillow==9.4.0
ply==3.8
protobuf==4.23.3
psycopg2-binary==2.9.5
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycparser==2.21
pycryptodome==3.18.0
pyjwt==2.6.0
pyopenssl==23.0.0
pyparsing==3.0.9
pyrebase4==4.7.1
pyrsistent==0.19.3
python-dotenv==1.0.0
python-jwt==4.0.0
pytz==2022.7.1
pyyaml==6.0
redis==4.5.1
requests-toolbelt==0.10.1
requests==2.29.0
rsa==4.9
service-identity==21.1.0
setuptools==67.4.0
six==1.16.0
sqlparse==0.4.3
twisted[tls]==22.10.0
txaio==23.1.1
typing-extensions==4.5.0
tzdata==2022.7
uritemplate==4.1.1
urllib3==1.26.16
whitenoise[brotli]==6.4.0
wrapt==1.15.0
zope-interface==5.5.2
